h1{
    color:red;
    font-size: 4.5em;
    margin: 0 0;
    text-align: center;
    font-family: sans-serif;
}
table {
    margin:100px auto;
}
.ttt {
    height: 90px; 
}
.s {
    background-color: purple;
    border-radius: 10px;
    font-size: 30;
    width:200px;
    height: 35px;
    text-align: center;
    color: white;
    }
.wrap{
    margin: 40px auto;
    text-align:center;
    }
.grid {
    display: grid;
    border: 2px solid red;
    grid-template: 100px 100px 100px/ 100px 100px 100px;
    height: 300px;
    width: 300px;
    text-align: center;
    margin: 80px auto 100px auto;
}
.grid div {
    border: 1px red dashed;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;    
}
.d1 {
    vertical-align: middle;
}

.g {
    display:block;
    margin: auto;
    height: 100;
    width: 100;
    background-color: lightblue;
    font-size: 90;
    
}
td {
    width:90px;
    border: 1.5px #8000f0 solid;
    border-collapse: collapse;
    box-sizing:border-box;
}
